@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;700&display=swap"); // Roboto and Montserrat

$bg-color: #272b30;
$dark-bg-color: #202225;
$text-color: #D3D3D3;

$TR-blue: #2a397c;
$light-blue: #3d50af;
$TR-red: #be2026;
$light-red: #cf585c;

*,
*::before,
*::after {
    transition: 0.3s;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: #efefef;
    color: $text-color;
    background-color: $bg-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: "Montserrat";
}

h2 {
    margin: 50px auto
}

h3 {
    font-weight: normal;
}

input {
    background-color: transparent;
    border-color: transparent;
    font-size: 1.5rem;
    color: $text-color;
    padding: 5px 20px;
    border: 4px solid rgba($TR-blue, 0.4);
    border-radius: 100px;

    &:focus {
        border-color: $TR-blue;
        outline: none;
    }
}

li {
    border-radius: 5px;
}

li p, li h3 {
    margin: 4px 0;
}

p {
    font-size: 1.2rem;
}

ul.series {
    list-style: none;
    padding: 10px;
    width: 70%;
    margin: 16px auto;

    li:nth-child(2n) {
        background-color: rgba($TR-blue, 0.2)
    }
}

#logo {
    grid-area: logo;
    height: 30%;
    margin: 40px;
}

#header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "logo title .";
    height: 10vh;
}

#root {
    min-width: 70%;
    width: fit-content;
    margin: auto;
}

.error {
    color: $light-red;
    margin: 20px auto;
}

.flex-center {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: inline-flex;
    margin: .5rem auto;
}

.col {
    padding: 1rem;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 350%;
    grid-area: title;
    height: fit-content;
}

.bold {
    font-weight: 700;
}

.no-bold {
    font-weight: normal;
}

.outline {
    border: 1px solid black;
    border-radius: 10px;
}


.btn {
    line-height: initial;
    display: inline-block;
    padding: 16px 35px;
    text-shadow: none;
    text-align: center;
    text-decoration: none;
    border: none;
    color: $text-color;

    border-radius: 100px;
    cursor: pointer;

    &:hover {
        color: $text-color;
        text-decoration: none;
    }
}


.btn-container {
    position: relative;
    z-index: 1;
    display: inline-block;
}

.btn-primary {
    outline: none;
    position: relative;
    font-size: 1.5rem;
    background-color: rgba($TR-blue, 0.4);
    
    &:hover {
        &::before {
            height: 100%;
            transform: scaleX(1);
        }
    }
    
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        border-radius: 100px;
        background-color: $TR-blue;
        transform: scaleX(0.75);
    }
}

.small-btn-primary {
    @extend .btn;
    @extend .btn-primary;

    padding: 8px 18px;
    font-size: 1.2rem;
}

.row-input {
    input,
    button {
        margin: 0 10px;
    }
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: $text-color;
    width: 70%;
    margin: 100px auto;
    font-size: 1.5rem;

    &::before, &::after {
        content: "";
        flex: 1;
        border-bottom: 2px solid $text-color;
    }

    &:not(:empty)::before {
        margin-right: 0.25em;
    }
    &:not(:empty)::after {
        margin-left: 0.25em;
    }
}

.clocked-in-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    border-radius: 5px;
    padding: 0 10px;
    height: 45px;

    &:hover:not(#header) {
        background-color: rgba($TR-blue, 0.4) !important;
    }

    * {
        margin: auto 0;
    }
}

.drop-down {
    position: absolute;
    transition: 0s;
    padding: 16px 0;

    .autocomplete {
        color: rgba($text-color, .5);
        font-size: 1.5rem;
        margin: 0;
        padding: 0 24px;
        height: 29px;
    }

    ul.drop-down-box {
        list-style: none;
        padding: 0;
        background-color: $dark-bg-color;
        padding: 18px 8px;
        width: calc(100% + 8px);
        margin: 24px 0;
        border-radius: 18px;

        li {
            p {
                padding: 4px 16px;
                cursor: pointer;
                margin: 0;
            }

            &:hover {
                background-color: rgba($TR-blue, .2);
            }
        }
    }
}

.pos-relative {
    position: relative;
}

/*
Remove the up/down arrows from number input 
Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
